<div class="body-overlay"></div>
       <img src="https://www.cnet.com/a/img/hkUYHalOA9_225I8mTRq9ejohQs=/1200x630/2017/10/12/164d6d22-0db8-4603-a672-cb8c07e447b8/netpicks-the-flash.jpg" class="img-fluid bg-image">
             <nav class="navbar navbar-expand-lg bg-light" id="navbar">
                     <a href="/" class="navbar-brand"><img src="https://www.pngitem.com/pimgs/m/408-4083826_flash-logo-png-transparent-png.png"  id="nav-logo"></a>
                     <h1 id="nav-title">HERO SQUAD</h1>
                      <ul class="navbar-nav">
                          <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/squads/new">Add Squad</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/squads">All Squads</a>
                            </li>
                       </ul>
                 </nav>
{{#partial "content"}}
    <a href="/squads"><i class="fas fa-arrow-left"></i></a>
    <div class="text-center hero-btns">
        <a href="/squads/{{squadHeroes.id}}/new"><button class="btn btn-outline-light">Add a Hero</button></a><br>
        <!--        <span style="font-family:'Righteous';">Or</span><br>-->
        <!--        <a href="/squads/{{squadHeroes.id}}/heroes"><button class="btn btn-outline-teal darken-4">View Squad's Heroes</button></a>-->
    </div>
{{/partial}}
{{> layout.hbs}}