{{#partial "content"}}
    <div class="body-overlay"></div>
           <img src="https://www.cnet.com/a/img/hkUYHalOA9_225I8mTRq9ejohQs=/1200x630/2017/10/12/164d6d22-0db8-4603-a672-cb8c07e447b8/netpicks-the-flash.jpg" class="img-fluid bg-image">
          <nav class="navbar navbar-expand-lg bg-light" id="navbar">
                  <a href="/" class="navbar-brand"><img src="https://www.pngitem.com/pimgs/m/408-4083826_flash-logo-png-transparent-png.png"  id="nav-logo"></a>
                  <h1 id="nav-title">HERO SQUAD</h1>
                   <ul class="navbar-nav">
                       <li class="nav-item active">
                         <a class="nav-link" href="/">Home</a>
                       </li>
                       <li class="nav-item">
                         <a class="nav-link" href="/squads/new">Add Squad</a>
                       </li>
                       <li class="nav-item">
                         <a class="nav-link" href="/squads">All Squads</a>
                         </li>
                    </ul>
              </nav>
    <div class="text-center success">
        <h2 class="hd-success">Success!!</h2><br>
    {{#if userSquad}}
            <p>Your squad is ready to go! <br> You can now add heroes to your squad</p><br>
            <a href="/squads"><button class="btn btn-success create-btn">View Squads</button></a>
    {{else}}
        {{#if heroes}}
                <p>Your hero is now ready for action and already running<br> Click him to view the squad</p>
                <a href="/squads"><img src="/images/gif.webp" alt="Hero-success" class="img-fluid hero-run"></a>
        {{else}}
            {{#if full}}
                    <p>{{full}}</p>
                    <a href="/squads"><button class="btn btn-outline-teal dark-4">View Squads</button></a>
            {{else}}
                    <div class="text-center card hero-create-success">
                             <p class="hd-success">Your squad has been deleted!</p>
                             <a href="/"><button class="btn btn-success hero-created-btn">Go Home</button></a>
                     </div>
            {{/if}}
        {{/if}}
        </div>
    {{/if}}
{{/partial}}
{{> layout.hbs}}